# Auto detect text files and perform LF normalization on checkin
* text=auto

# Source code
*.py text eol=lf
*.sh text eol=lf
*.md text
*.txt text
*.json text
*.csv text
*.yml text
*.yaml text

# Binary files
*.png binary
*.pdf binary
*.npz binary
*.gz binary
*.tar binary
